extends layout

block content
  div.container-full
    form#signup-form.form-signin(method="post",action="/signup")
      h2.form-signin-heading.text-center SIGN UP
      div.form-group
        input.form-input(type="text",placeholder="请输入昵称",name="name",data-toggle="tooltip", data-placement="right",title="昵称长度应在4到12个字符之间")
      div.form-group
        input.form-input(type="password",placeholder="请输入密码" name="password",data-toogle="tooltip",data-placement="right",title="密码长度应在6到32个字符之间")
      div.form-group
        input.form-input(type="password",placeholder="确认密码" name="password2",data-toogle="tooltip",data-placement="right" title="确认密码长度应在6到32个字符之间")
      div.form-group
        input.form-input(placeholder="邀请码" name="invite")
      div.form-group
        button.btn.btn-block.btn-info SIGN UP
      div#success-collapse.collapse
        div.well
          h4.text-success.text-center
            | 注册成功，马上&nbsp;
            a.text-info(href="/signin") 登陆
      a.btn.btn-link.btn-block(href="/signin")
        | 已有账号？去登录&nbsp;
        i.fa.fa-hand-o-right
